<li {% if menu == 'home'     %} class="active"{% end%}><a href="/"><span class="glyphicon glyphicon-home"></span> 首页</a></li>
<li {% if menu == 'books' %} class="active"{% end%}><a href="/category"><span class="glyphicon glyphicon-th-list"></span> 图书</a></li>
<li {% if menu == 'follow'    %} class="active"{% end%}><a href="#"><span class="glyphicon glyphicon-time"></span> 订阅</a></li>
<li {% if menu == 'publish'    %} class="active"{% end%}><a href="#"><span class="glyphicon glyphicon-time"></span> 发布</a></li>
<li {% if menu == 'discuss'    %} class="active"{% end%}><a href="#"><span class="glyphicon glyphicon-time"></span> 讨论</a></li>
